
*.bat

*.bat

*.cmd

*.bat

*.html

*.bat

*.bat

*.xml

*.xls

!src/com/cureatr/excel/InputFiles/Suite.xls
!src/com/cureatr/excel/InputFiles/Suite_Android.xls
!src/com/cureatr/excel/InputFiles/Suite_Web.xls
!src/com/cureatr/excel/InputFiles/Suite_iOS.xls
!src/com/cureatr/excel/InputFiles/Web_MESSAGING.xls
!src/com/cureatr/excel/InputFiles/Web_QUICK_MESSAGES.xls
!src/com/cureatr/excel/InputFiles/Web_SIGNIN.xls
!src/com/cureatr/excel/InputFiles/Web_SIGNOUT.xls

